<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://kit.fontawesome.com/2b49b78d23.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">
</head>
<body>
    <section id="container">
        <header>
            <h1>Daily To-Do List</h1>
            <p>Manage your tasks with this easy to-do list.</p>
        </header>
        <section id="enter">
            <form action="/toDo" method="POST">
                <input type="date"  name="date">
                <input type="text" placeholder="Enter your task here" name="toDo">
                <button type="submit" id="addList">Add to List</button>
            </form>


        </section>
        <h2> List</h2>
        <section id="itemHere">
            
            <ul id="toDo"> 
            <% for(var i=0; i<toDo.length; i++) {%>
                <li class=="toDo <%= toDo[i].completed ? 'grey' : '' %>">
                    <span><%= toDo[i].date %></span>
                  <span><%= toDo[i].toDo %></span>
                
                  <span><i class="fa-solid fa-check"></i></span>
                  <span><i class="fa fa-trash" aria-hidden="true"></i></span>
                </li>
              <% } %>
            </ul>
    </section>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>