
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;1,600&display=swap" rel="stylesheet">
</head>
<body>
  <section class="container">
      <h1 class="title">To Do List</h1>
          <hr>
          <p>Fill out your to do list to keep track of your daily tasks</p>
      
      <section id="input">
          <form class="form" action="/tasks" method="POST">
              <input id="task" type="text" placeholder="TASK" name="todoItem">
              <button type="submit" id="add">Add</button>
          </form>
      </section>

      <section id="itemHere">
        <ul id="toDo"> 
          <% for(var i=0; i<todos.length; i++) {%>
            <li class="todos">
              <span><%= todos[i].item %></span>
              <input type="checkbox" class="checked" value = "<%= todos[i].done %>" name="<%= todos[i].item %>" id= "<%= i %>" >
            </li>
          <% } %>
      </ul>
  </section>
  <section id="cleared">
    <button id="endAll">Clear List</button>
    <button id="endComplete">Clear Completed</button>
</section>
</section>
<script type="text/javascript" src="main.js"></script>
</body>
</html>
