*{
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;

}
body{
  background: rgba(129, 3, 142, 0.84);

text-align: center;
}
.container{
background-color: #fff;
width: 80%;
margin-right: auto;
margin-left: auto;
margin-top: auto;
margin-bottom: auto;
border-radius: 2%;
height: 500px;
border: 1em solid rgba(83, 5, 156, 0.84);
}
.title{
font-weight: 600px;
font-size: 60px;
word-spacing: 0.25em;
color:  rgba(129, 3, 142, 0.84);
}
p{
  font-weight: 500;
  font-style: italic;
  font-size: 30px;
  color:  rgba(129, 3, 142, 0.84);
}
button{
background-color:rgba(83, 5, 156, 0.84) ;
color:  rgba(129, 3, 142, 0.84);
font-family: 'Barlow', sans-serif;
--glow-color: rgb(217, 176, 255);
--glow-spread-color: rgba(191, 123, 255, 0.781);

border: .25em solid var(--glow-color);
padding: 1em 3em;
font-size: 15px;
font-weight: bold;
background-color: var(--btn-color);
--btn-color:rgba(83, 5, 156, 0.84);

border-radius: 1em;
outline: none;
box-shadow: 0 0 1em .25em var(--glow-color),
       0 0 4em 1em var(--glow-spread-color),
       inset 0 0 .75em .25em var(--glow-color);
text-shadow: 0 0 .5em var(--glow-color);
position: relative;
transition: all 0.3s;
}
button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }
 
 button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
 }
hr{
  color: rgba(83, 5, 156, 0.84);
  font-weight: bolder;
}
input{
  border: 3px solid  rgba(83, 5, 156, 0.84);
  width: 270px;
  height: 22px;
  border-radius: 2%;
}
